---
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% include head.html %}

<body>
<div id="title"><h1>The Den of Inequality</h1></div>
<div id="container">
{% include menu.html %}

<div id="main">
<h2> General Information </h2>
<br>
<br>
<font style="font-family: Times New Roman;"><a href="http://gsas.nyu.edu/">New York University</a> </font><br>
<font style="font-family: Times New Roman;"><a href="http://www.cims.nyu.edu/">Courant Institute of Mathematical Sciences</a></font><br>
<font style="font-family: Times New Roman;"><a href="http://maps.google.com/maps?hl=en&ie=UTF8&layer=c&cbll=40.729108,-73.99567&panoid=eWX1mM6j0R4PFWo-bYkp8w&cbp=12,172.5,,0,-13.65&ll=40.729023,-73.995506&spn=0,0.012252&z=17">Warren Weaver Hall</a>, Office 504</font><br>
<font style="font-family: Times New Roman;">251 Mercer Street</font><br>
<font style="font-family: Times New Roman;">New York, NY 10012</font><br>
<font style="font-family: Times New Roman;">
<SCRIPT LANGUAGE="javascript">

    var user = location.href.replace(/.*\~/,'').replace(/\/.*/,'') ; 

    var first = 'ma';
    var second = 'il';
    var third = 'to:';

    var address = user;
    var domain = 'cims.nyu';
    var ext = 'edu';
    document.write('<a href="');
    document.write(first+second+third);
    document.write(address);
    document.write('&#64;');
    document.write(domain);
    document.write('.');
    document.write(ext);  
    document.write('" style="color: gray;'); 
    document.write('">'); 

    document.write(address);
    document.write('&#64;');
    document.write(domain);
    document.write('.');
    document.write(ext);

    document.write('</a>');
</script>
<noscript> (see URL for user) (at) cims.nyu (dot) edu</noscript>
</font>
</div>
{% include credits.html %}
<div id="footer"></div>
</div>
</body>
</html>
