---
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% include head.html %}

<body>
<div id="title"><h1>The Den of Inequality</h1></div>
<div id="container">
{% include menu.html %}

<div id="main">
<h2>Courses</h2>
<ul>
        <li>Spring 2014
                <ul>
                        <li><a href="http://www.cs.nyu.edu/courses/spring14/CSCI-GA.2945-001/index.html">Advanced Topics in Numerical Analysis:<br>Finite Element Methods</a></li>
                        <li>Advanced Topics in Probability Theory:<br>Aging and Trapping Models</li>
                </ul>
        </li>
<p>

        <li>Fall 2013
                <ul>
                        <li><a href="http://www2.maths.ox.ac.uk/chebfun/ATAP/">Advanced Topics in Numerical Analysis:<br>Approximation Theory and Practice</a></li>
                        <li>Advanced Topics in Applied Mathematics:<br>Optimization and Data Analysis</a></li>
                </ul>
        </li>
<p>

        <li>Spring 2013
                <ul>
                        <li><a href="http://www.math.nyu.edu/faculty/goodman/teaching/MonteCarlo12/ClassHomePage.php.html">Advanced Topics in Numerical Analysis:<br>Monte Carlo Methods</a></li>
                        <li>Advanced Topics in Applied Mathematics:<br>Data Analysis Methods for High-dimensional Time Series</li>
                </ul>
        </li>
<p>

        <li>Fall 2012
                <ul>
                        <li><a href="http://wiki.tiker.net/Teaching/HPCFall2012">Advanced Topics in Numerical Analysis:<br>High Performance Computing</a></li>
                        <li>Methods of Applied Mathematics</li>
<!--                        <li>Fluid Dynamics</li> -->
                </ul>
        </li>
<p>

        <li>Spring 2012
                <ul>
                        <li><a href="http://math.nyu.edu/faculty/varadhan/advancedtopics.spring12.html">Advanced Topics in Probability:<br> Large Deviations and Applications</a></li>
                        <li>Probability: Limit Theorems II</li>
                        <li>Applied Stochastic Analysis</li>
                        <li><a href="http://www.math.nyu.edu/faculty/kohn/pde_finance.html">PDE for Finance</a></li>
                </ul>
        </li>
<p>

        <li>Fall 2011
                <ul>
                        <li><a href="http://cims.nyu.edu/~tygert/gradcourse/nyu2011.html">Advanced Topics in Numerical Analysis:<br> Fast Multipole Methods</a></li>
                        <li><a href="http://www.math.nyu.edu/faculty/goodman/teaching/StochCalc2011/index.html">Stochastic Calculus</a></li>
                        <li>Partial Differential Equations I</li>
                        <li>Probability: Limit Theorems I</li>
                </ul>
        </li>
<p>

        <li>Spring 2011
                <ul>
                        <li><a href="http://cs.nyu.edu/courses/spring11/G22.2750-001/index.html">Advanced Topics in Numerical Analysis:<br> Numerical Optimization</a></li>
                        <li>Numerical Methods II</li>
                        <li>Ordinary Differential Equations</li>
                        <li> Grading
                               <ul>Mortgage-Backed Securities<br> & Energy Derivatives</ul>
                        </li>
                </ul>
        </li>
<p>                

        <li>Fall 2010
                <ul>
                        <li>Basic Probability</li>
                        <li>Linear Algebra</li>
                        <li>Complex Variables I</li>
                        <li>Introduction to Math Analysis I</li>
                </ul>
        </li>

</ul>
</div>
{% include credits.html %}
<div id="footer"></div>
</div>
</body>
</html>
