---
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% include head.html %}

<body>
<div id="title"><h1>The Den of Inequality</h1></div>
<div id="container">
{% include menu.html %}

<div id="main">
<h2> Research Papers </h2>
<a href="SnowflakePaper.pdf">Analysis of N-Dimensional Snowflake</a>
<br>
<a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3167017">Detection of False Investment Strategies Using Unsupervised Learning Methods</a>
<br>
<a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4580833">Improved Portfolio Diversification Through Unsupervised Learning</a>
<br>
<h2> Code </h2>
<a href="https://github.com/Skwaap/ddc-svd">High Performance Computing Class Group Final Project:<br>SVD Code Parallelized w/ OpenMP and OpenCL(GPU)</a>
<br>
<a href="https://github.com/mlewis1729">Github</a>
<br>
<h2> Curriculum Vitae </h2>
<br>
<a href="./CV.pdf">CV</a>
<!-- 
<iframe src="http://docs.google.com/viewer?url=./CV.pdf&embedded=true" width="500" height="650" style="border: none;"></iframe>
-->
</div>
{% include credits.html %}
<div id="footer"></div>
</div>
</body>
</html>
