---
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% include head.html %}

<body>
<div id="title"><h1>The Den of Inequality</h1></div>
<div id="container">
{% include menu.html %}

<div id="main">
<h2> Class Material </h2>
<br>
<a href="ode.pdf">ODE Book</a>
<br>
<a href="newnotes.pdf">Applied Stochastic Analysis Book</a>
<br>
<a href="lectures_final.pdf">Final Lecture Notes for Applied Stochastic Analysis</a>
<br>
<a href="foo.pdf">Monte Carlo</a>
</div>
{% include credits.html %}
<div id="footer"></div>
</div>
</body>
</html>
