---
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% include head.html %}
<body>
<div id="title"><h1>The Den of Inequality</h1></div>
<div id="container">
{% include menu.html %}
<div id="main">
<div style="float: right"><img border = "1" height= 360 px, src = "mypic4.jpg" ></div>
<font size = 4 ><strong>Dr. Michael Lewis</strong></font><br>
Financial Mathematician <br>
Goldman Sachs alumni <br>
Banc of America Securities alumni <br>
Graduate of Courant Institute <br>
<table border="0">
<tr> <td><i>Advisor</i></td><td><a href="http://math.nyu.edu/faculty/goodman/">Jonathan Goodman</a></td> </tr>
<tr> <td><i>Fields of Interest</i></td><td>Monte Carlo</td></tr>
<tr> <td> </td> <td>Numerical Methods</td> </tr>
<tr> <td> </td> <td>Probability</td> </tr>
<tr> <td> </td> <td>Portfolio Optimization</td> </tr>
</table>
</div>
{% include credits.html %}
<div id="footer"></div>
</div>
</body>
</html>
