<br clear="left">
<p class="credits" align="left">&copy;
2012 
<SCRIPT LANGUAGE="javascript"> 
 
    var user = location.href.replace(/.*\~/,'').replace(/\/.*/,'') ; 
 
    var first = 'ma';
    var second = 'il';
    var third = 'to:';
 
    var address = user;
    var domain = 'cims.nyu';
    var ext = 'edu';
    document.write('<a href="');
    document.write(first+second+third);
    document.write(address);
    document.write('&#64;');
    document.write(domain);
    document.write('.');
    document.write(ext);  
    document.write('" style="color: gray;'); 
    document.write('">'); 
 
    document.write('Michael Lewis');
 
    document.write('</a>');
</script>
<noscript>Michael Lewis</noscript> 
| Design by <a href="http://andreasviklund.com">Andreas Viklund</a><br>
</p>
